/* @font-face {
  font-family: "Segoe UI";
  src: url("Segoe UI Regular 400.woff");
  src: url("Segoe UI Regular 400.wof2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("Times New Roman Regular.woff");
  src: url("Times New Roman Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("Times New Roman Bold.woff");
  src: url("Times New Roman Bold.woff2");
  font-weight: 700;
  font-style: normal;
} */
