<!-- *------------------ TEAM - CARD ------------------ -->
<!-- <div class="card-wrapper">
      <div class="team-card">
        <div class="team-card__image">
          <img src="assets/images/team-1.jpg" alt="" />
        </div>
        <div class="team-card__content">
          <h3 class="team-card__name">Sanjeev Khagram</h3>
          <p class="team-card__role">Dean/Director General</p>
          <p class="team-card__description">
            Dr. Khagram is the Dean/Director General of Thunderbird School of
            Global Management at ASU. He is a world-renowned...
          </p>
          <img
            src="assets/images/message-icon.svg"
            alt=""
            class="team-card__icon"
          />
        </div>
      </div>

      <div class="team-card">
        <div class="team-card__image">
          <img src="assets/images/team-1.jpg" alt="" />
        </div>
        <div class="team-card__content">
          <h3 class="team-card__name">Sanjeev Khagram</h3>
          <p class="team-card__role">Dean/Director General</p>
          <p class="team-card__description">
            Dr. Khagram is the Dean/Director General of Thunderbird School of
            Global Management at ASU. He is a world-renowned...
          </p>
          <img
            src="assets/images/message-icon.svg"
            alt=""
            class="team-card__icon"
          />
        </div>
      </div>

      <div class="team-card">
        <div class="team-card__image">
          <img src="assets/images/team-1.jpg" alt="" />
        </div>
        <div class="team-card__content">
          <h3 class="team-card__name">Sanjeev Khagram</h3>
          <p class="team-card__role">Dean/Director General</p>
          <p class="team-card__description">
            Dr. Khagram is the Dean/Director General of Thunderbird School of
            Global Management at ASU. He is a world-renowned...
          </p>
          <img
            src="assets/images/message-icon.svg"
            alt=""
            class="team-card__icon"
          />
        </div>
      </div>
    </div> -->

<!-- *---------------------- Feature-card ------------------ -->
<!-- <div class="feature-card">
      <div class="feature-card__image">
        <img src="assets/images/permanent.svg" alt="Permanent-Icon" />
      </div>
      <div class="feature-card__content">
        <h3 class="feature-card__heading">permanent</h3>
        <p class="feature-card__description">
          Solution must securely keep CO2 out of circulation for at least a
          century.
        </p>
      </div>
    </div> -->

<!-- <button class="btn btn--primary">learn more</button> -->

<!-- *---------------------- Logo-card ------------------ -->
<!-- <div class="logo-card">
      <div class="logo-card__image">
        <img src="assets/images/climate.png" alt="" />
      </div>

      <div class="logo-card__content">
        <p class="logo-card__description">
          Non-Governmental Organization
        </p>
      </div>
    </div> -->

<!-- *---------------------- Resources-card ------------------ -->
<!-- <div class="resources-section__cards">
      <div class="resources-card">
        <h3 class="resources-card__heading">
          Climate Restoration: Solutions to the Greatest Threat Facing
          Humanity and Nature Today
        </h3>
      </div>
    </div> -->
